.Nav-logo img {
    width: 60px;
}

.Nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Nav-logo h3 {
    color: #61dafb;
    font-size: 22.5px;
    font-weight: 700;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 30px 25px;
    background-color: #21222A;
}

.Nav-right h4 {
    color: #DEEBF8;
    font-size: 16px;
    font-weight: 600;
}